	<!-- Tasks -->
	<div class="page hiddenPage" id="divTasks">
		<div class="container">
			<legend>Task</legend>
			<button id="btnTaskExpandAll" name="btnTaskExpandAll" class="btn btn-default" title="Expand all"><i class="fa fa-plus-square-o fa-fw"></i></button>	
			<button id="btnTaskCollapseAll" name="btnTaskCollapseAll" class="btn btn-default" title="Collapse all"><i class="fa fa-minus-square-o fa-fw"></i></button>
			<button id="btnTaskDeleteAll" name="btnTaskDeleteAll" class="btn btn-danger" title="Delete all"><i class="fa fa-trash fa-fw"></i></button>
			<table class="table table-hover" id="tblTasks">
				<thead>
					<tr>
						  <th>Job</th>
						  <th>Filename</th>
						  <th>Completed</th>
						  <th>Exit Code</th>
						  <th>Duration</th>
						  <th class="text-right">Aktionen</th>
					</tr>
				  </thead>
				<tbody>
					<tr>
						<td>
							<i class="fa fa-spinner fa-spin fa-lg"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- /Tasks -->
	
	
